<h1>Welcome to Homepage</h1>
<p>this is home</p>
<p>
    <div id="newPostSection"></div>
    <div id="pinnedPostBoard"></div>
    <div id="postBoard"></div>
</p>
<script src="scripts/home.js"></script>