<h1>Homepage</h1>
<div id="newPostSection"></div>
<div id="pinnedPostBoard"></div>
<div id="postBoard"></div>
<div class="row">
    <div class="col">
        <div>End of page, refresh to see more posts.</div>
        <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    </div>
</div>
<script src="scripts/reactComponents/Edit.js"></script>
<script src="scripts/reactComponents/Comment.js"></script>
<script src="scripts/reactComponents/DropDown.js"></script>
<script src="scripts/reactComponents/NewPost.js"></script>
<script src="scripts/reactComponents/Post.js"></script>
<script src="scripts/reactComponents/Reply.js"></script>
<script src="scripts/reactComponents/UserName.js"></script>
<script src="scripts/reactComponents/ContentBody.js"></script>
<script src="scripts/home.js"></script>
