<h1>Welcome to Gamerland</h1>
<form action="POST">
    <div class="mb-3">
        <label for="loginId" class="form-label">Account name or Email</label>
        <input type="text" class="form-control" id="loginId" placeholder="">
    </div>
    <div class="mb-3">
        <label for="loginPassword" class="form-label">Password</label>
        <input type="text" class="form-control" id="loginPassword" placeholder="">
    </div>
</form>
