<form action="login" method="POST">
    <div class="mb-3">
        <label for="username" class="form-label">Account name or Email</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="text" class="form-control" id="password" name="password" placeholder="">
    </div>
    <input class="btn btn-primary" type="submit" value="Submit">
</form>